.header {
  min-width: 320px;
  border-bottom: 1px solid $additionalColor;
  background: $whiteColor;

  &__menu {
    padding: 18.59px $indentLeft;

    @media (min-width: 768px) {
      padding: 18.59px $indentLeft768;
    }
  }

  @media (min-width: 1120px) {
    visibility: hidden;    
    padding: 0;
    height: 0;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  &__logo {
    width: 96.55px;
    height: 50.81px;
    flex-grow: 1;

    @media (min-width: 768px) {
      flex-grow: 1;
    }
  }

  &__group-button {
    display: flex;
    align-items: center;
    gap: 16px;

    .button {
      display: block;
      border: 0;
      background-color: white;
      padding: 0;
      width: 40px;
      height: 40px;

      &--burger {
        background: url('/src/img/burger.svg') no-repeat center;
      }
      &--repair {
        background: url('/src/img/repair.svg') no-repeat right;
        @media (min-width: 1120px) {
          visibility: visible;
          background-color: $bgColor;
        }
      }
      &--checkstatus {
        background: url('/src/img/checkstatus.svg') no-repeat right;
        @media (min-width: 1120px) {
          visibility: visible;
          background-color: $bgColor;
        }
      }
      &--call {
        background: url('/src/img/call.svg') no-repeat center;
      }
      &--chat {
        background: url('/src/img/chat.svg') no-repeat center;
      }
      &--profile {
        background: url('/src/img/profile.svg') no-repeat center;
      }

      >.button__caption {
        display: none;

        @media (min-width: 1120px) {
              display: inline-block;
              padding-right: 8px;
              margin-right: 40px;
              vertical-align: middle;
          
        }
      }
      @media (min-width: 1120px) {
        width: auto;
      }
    }

    &.menu__group-button--visible-768 {
      display: none;
      
      @media (min-width: 768px) {
        display: flex;
        justify-content: flex-end;
        flex-grow: 2;
      }
    }
    &.menu__group-button--visible-1120 {
      border-left: 2px solid $otherColor;
      height: 32px;
      padding-left: 20px;
    }
    &:first-child {
      @media (min-width: 768px) {
        border-right: 2px solid $otherColor;
        height: 32px;
        padding-right: 20px;
      }
    }
  }
  @media (min-width: 1120px) {
    justify-content: flex-end;
    padding: 42px 32px 8px 0;
  }
}
