$bgColor: #F8F8F8;
$text: #1B1C21;
$textLink: #7E7E82;
$whiteColor: #FFFFFF;
$additionalColor: #D9FFF5;
$accessoriesColor: #41F6D7;
$activeColor: #B8FFEC;
$otherColor: #EAEAEA;
$buttonColor: #FF3E79;


$indentLeft: 16px;
$indentLeft768: 24px;
$indentLeft1120: 32px;

$indentBlockBottom: 24px;
$indentBlockBottom768: 32px;
$indentBlockBottom1120: 50px;

$fontSizeMain: 16px;

